.article-wrapper {
    width: 638px;
    padding: 20px;
    outline: 1px solid #ccc;
    margin: 0 auto;
}

#feedback-box h2 {
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    font-size: 23px;
    color: #414141;
    margin: 0;
}

#feedback-form {
    padding: 20px 25px;
    border-top: 1px solid #fff;
}

#feedback-form input[type="text"], #feedback-form textarea {
    width: 205px;
    padding: 7px 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#feedback-form textarea {
    resize: none;
    overflow-y: auto;
    width: 330px;
}

#feedback-form input[type="text"]:focus,
#feedback-form textarea:focus {
    border: 1px solid #ccc;
}

#feedback-form #send {
    padding: 5px 20px;
}

#feedback-form .w1 label {
    display: inline-block;
    width: 40px;
}

#feedback-form .msg label {
    display: inline-block;
}

.error {
    border: 1px solid #f00 !important;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -125px 0 0 -125px;
    background: url(img/paper_fibers.png);
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font: 13px Arial, sans-serif;
}

.block_captcha {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 53%;
    margin: -125px 0 0 -125px;
}

#feedback-form, .g-recaptcha {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.clear_button, .send {
    margin-top: 20px;
}

.popup-callback {
    background: url(img/paper_fibers.png);
    height: 200px;
    position: fixed;
    top: 100px;
    left: 40%;
    color: #f00;
    width: 300px;
}

.popup-parent {
    background: #000;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

#popup-block-text {
    text-align: center;
    margin-top: 18%;
    font-size: 30px;
}

.hide {
    display: none;
}

.popup-button {
    position: absolute;
    bottom: 25px;
    left: 110px;
}